#brian {
    background-color: #4aaaa5;
    color: white;
    height: 100%;
}

#about-me {
    color: #4aaaa5;
}

.wrapper {
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/black-abstract-tech-triangles-motion-background-video-animation-ultra-hd-4k-3840x2160_rzlankbf__F0000.png");
    padding: 60px 0;
}

.container {
    background-color: white;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #666666;
}

.footer-top {
    background-color: #4aaaa5;
    width: 100%;
    height: 10%;
}

.footer-text {
    text-align: center;
}

#portfolio-box {
    background-image: url("https://www.climate-lab-book.ac.uk/files/2015/02/rainbow1.png");
    margin: 20px 20px 20px 10px;
}

.game-name {
    width: 100%;
    height: 30px;
    background-color: #4aaaa5;
    color: #ffffff;
    margin-top: 130px;
    text-align: center;
}

form {
    margin: 10px 0;
}

button {
    width: 90px;
    height: 40px;
    background-color: #4aaaa5;
    color: white;
}

input {
    width: 100%;
    margin: 5px 0;
}

textarea {
    margin: 5px 0;
    width: 100%;
}