/* index CSS */


/* .header-row {
    height: 70px;
} */

#brian {
    background-color: #4aaaa5;
    color: white;
    height: 100%;
    text-align: center;
}

#about-me {
    color: #4aaaa5;
}

#links {
    align-content: center;
}

.wrapper {
    background-image: url("/assets/images/blue-turquoise-gradient-linear-1920x1080-c2-191970-2ff0a8-a-165-f-14.jpg");
    background-color: #d9dddc;
    padding: 40px 0;
}

.container {
    background-color: #ffffff;
    margin: 0 auto;
}

footer {
    width: 100%;
    height: 70px;
    background-color: #666666;
}

.footer-top {
    background-color: #4aaaa5;
    width: 100%;
    height: 10%;
}

.footer-text {
    text-align: center;
}


/* Portfolio CSS */

.image-1 {
    background-image: url("./assets/images/word-guess-game.png");
}

.game-name {
    width: 100%;
    height: 50px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
}

.white {
    padding: 20px;
}


/* Contact CSS */

form {
    margin: 10px 0;
}

button {
    width: 90px;
    height: 40px;
    background-color: #4aaaa5;
    color: white;
}

input {
    width: 100%;
    margin: 5px 0;
}

textarea {
    margin: 5px 0;
    width: 100%;
}